<div class="row">
  <app-header></app-header>
</div>

<div class="container">
  <br />
  <div class="row">
    <div class="col-6">
      <div class="container-fluid">
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder=" Search User"
            aria-label="Search"
            [(ngModel)]="userName"
            [ngModelOptions]="{ standalone: true }"
          />
          <button
            class="btn btn-outline-success"
            type="submit"
            (click)="searchUser()"
          >
            Search
          </button>
        </form>
      </div>
    </div>
    <div class="col-6">
      <div class="container-fluid" *ngIf="userDatils">
        <form class="d-flex" role="search" >
          <input
            class="form-control me-2"
            type="text"
            placeholder=" Enter Book ID"
            aria-label="Search"
            [(ngModel)]="bookId"
            [ngModelOptions]="{ standalone: true }"
            *ngIf="!confirmObj"
            
          />
          <button
          *ngIf="!confirmObj"
            class="btn btn-outline-primary"
            type="submit"
            (click)="searchBook()"
          >
            Search
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <br /><br />
      <div class="card" style="width: 25rem" *ngIf="userDatils">
        <img
          src="assets/img/14.jpg"
          class="card-img-top"
          height="350rem"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title"><b>User Details</b></h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Email :</b> {{ userDatils.email }}</li>
          <li class="list-group-item">
            <b>Address :</b> {{ userDatils.address }}
          </li>
          <li class="list-group-item">
            <b>Country :</b> {{ userDatils.country }}
          </li>
          <li class="list-group-item">
            <b>Phone Number :</b> {{ userDatils.phoneNum }}
          </li>
        </ul>
      </div>
    </div>
    <div class="col-6">
      <br /><br />
      <div class="card " style="width: 25rem" style="height: 25rem"  *ngIf="confirmObj" >
        <div class="card-body">
            <br>
          <h3 class="card-title text-center text-success"><b>Your Item </b></h3>
          <br>
          <h5 class="card-subtitle mb-2 text-body-emphasis"><b>{{book.isbn}} - {{book.title}}</b></h5>
          <br>
          <h5 class="card-subtitle mb-2 text-body-emphasis">Category : <b>{{book.category}}</b></h5>
          <br>
          <h5 class="card-subtitle mb-2 text-body-emphasis">Price : <b>{{book.price}}</b></h5>
          <br>
          <p class="card-text">
            Dear Customer you can Borrow only one Book..! <br>
            Thanks... Come Back !
          </p>
         
        </div>
      </div>
      <br />
      <button
        (click)="getBorrowDetails()"
        class="btn btn-secondary"
        *ngIf="confirmObj"
      >
        <i class="bi bi-cart3"></i> Borrow Book
      </button>
    </div>
  </div>
</div>
<!--   -->