.container{
    background-color: #262626;
    max-width:100% !important;
    height: 100vh !important;
    width: 100% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position:relative !important;
}

.w-99{
    border: 3px solid cadetblue !important;
    border-radius: 10px !important;
    
}
